:root {
    --text-color: #4A4A4A;
    --blue-color: #0087AA;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

h1 {
    font-size: 38px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    display:block;
    padding: 10px;
    height: 36px;
    width: 100%;
    background: white;
    border-color: var(--blue-color);
    border-width: 1px;
}

textarea {
    height: 200px;
}

.submit-btn {
    display: inline-block;
    margin-top: 20px;
    height: 36px;
    width: 100%;
    color: #fff;
    background: var(--blue-color);
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background: #1997B7;
}

/* Utility styling */
.container {
    margin: auto;
    max-width: 1000px;
    padding: 0 20px;
}

.input-form {
    padding-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}